<!DOCTYPE html>
<html>
  <head>
    <title>Marmoset</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
	<%= link_to logged? ? current_user : '/', id: "logo" do  %>
	  <span class="glyphicon glyphicon-pencil"></span> Marmoset
	<% end %>

	<nav>
	  <ul class="nav navbar-nav navbar-right">
	    <li><%= link_to "Home",   logged? ? current_user : '/' %></li>
	    <li><%= link_to "Help",   '#' %></li>
	    <% if logged? %>
	      <%= render 'shared/dropdown' %>
	    <% else %>
	      <li><%= link_to "Log in", login_path  %></li>
	    <% end %>

	  </ul>
	</nav>
      </div>
    </header>

    <div class="center container">
      <% flash.each do |message_type, message| %>
	<div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

      <%= yield %>

      <div class="bottom-logo center">
	<%= image_tag "monkey.jpg", class: "monkey" %>
      </div>

      <footer class="footer ">
      </footer>

    </div>

  </body>
</html>
